@import '~assets/wmnds/vars';
@import '~assets/wmnds/mixins';

[class*='wmnds-'] {
  &.disruptionIndicator {
    display: inline-flex;
    margin-right: $size-md;
    align-items: center;

    strong {
      display: inline-block;
      margin: 0 $size-sm;
    }
  }
}
