@import '~assets/wmnds/vars';
@import '~assets/wmnds/mixins';

.serviceContainer {
  margin-bottom: $size-lg;
  overflow: hidden;

  .serviceGrid {
    display: flex;
    margin-right: -$size-xs;
    margin-left: -$size-xs;
    flex-wrap: wrap;

    .serviceBtn {
      margin: $size-xs;

      .label {
        padding-right: $size-md;
        padding-left: $size-md;
      }
    }
  }
}

input {
  &:checked + .label {
    background-color: get-color(information);

    &:hover,
    &:focus,
    &:active {
      background-color: get-color(information);
    }
  }
}
